<mat-card *ngFor="let music of music?.data;">
    <mat-card-header>
        <div class="icon-actions">
            <mat-icon>favorite</mat-icon>
            <mat-icon>share</mat-icon>
            <mat-icon>turned_in</mat-icon>
            <mat-icon>highlight_off</mat-icon>
        </div>
    </mat-card-header>
    <img mat-card-img [src]="music.album.cover_big">
    <mat-card-content>

        <audio controls [id]="index">
            <source [src]="music.preview" type="audio/ogg">
            <source [src]="music.preview" type="audio/mpeg">
        </audio>

        <div class="card-details">
            <h4>{{ music.title }}</h4>
            <p>Enlace: {{ music.link }}</p>
            <p>Duracion: {{ music.duration }}</p>
            <p>Artista: {{ music.artist.name }}</p>
            <p>Tipo: {{ music.type }}</p>
            <p>Album: {{ music.album.title }}</p>

        </div>
    </mat-card-content>
    <mat-card-actions>
        <button #stopBtn mat-button color="primary" (click)="stopSong(music)">STOP</button>
        <button #playBtn mat-flat-button color="primary" (click)="playSong(music)">PLAY</button>
    </mat-card-actions>
</mat-card>