.search-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.card-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.mat-typography {
    background-color: #000000;
}

.mat-toolbar {
    padding: 0px;
    box-sizing: unset;
    background-color: #ae4747de;
    span {
        color: #ffffff;
    }
}

.imglogo {
    width: 90px;
    margin-top: 9px;
    padding: 5px;
}

@media (max-width: 380px) {
    .mat-toolbar {
        padding: 0px 10px;
    }
}